<!DOCTYPE html>

<html ng-app="app" lang="en">


<head>
	<meta charset="UTF-8">
	<title>KiotViet</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-controller="MainController as vm" layout="column">

<md-content flex id="content" ui-view>
</md-content>

<script type="text/javascript" src="js/Reflect.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>